body{


  background-color: white;
}

.App{

font: 20px;
height: 73.6px;
background-color: rgb(80, 71, 71);
color: white;
justify-content: center;
align-items: center;


}

.link{
  font-size: 25px;
  color: white;
  padding: 20px;
  display: inline-block;
  background-color: tomato;
  text-decoration: none;
}

